<% if current_user %>
  <%= turbo_frame_tag "like_button_#{post.id}" do %>
    <% if post.liked_by?(current_user) %>
      <%= link_to post_likes_path(post.id), data: { turbo_method: :delete, turbo_fram: "like_button_#{post.id}" } do %>
        <i class="fa-solid fa-heart" style="color: #fa0019"></i>
      <% end %>
      <%= post.likes.count %>
    <% else %>
      <%= link_to post_likes_path(post.id), data: { turbo_method: :post, turbo_fram: "like_button_#{post.id}" } do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
      <%= post.likes.count %>
    <% end %>
  <% end %>
<%else%>
  <div class="tooltip tooltip-left" data-tip="<%= t('.tooltip') %>">
    <i class="fa-regular fa-heart"></i>
    <%= post.likes.count %>
  </div>
<% end %>