<% set_meta_tags title: t('common_titles.password_change') %>
<div class="flex justify-center items-center min-h-[calc(100vh-160px)]">
  <div class="p-10 text-base bg-white border rounded-lg shadow relative">
    <div class="flex justify-center">
      <i class="fa-solid fa-key text-3xl border p-3 rounded-full absolute top-0 -mt-7 bg-white"></i>
    </div>
    <p class="m-5"><%= t('.accept') %></p>
    <% if logged_in? %>
      <p class="m-5"><%= t('.login_user_information') %></p>
      <%= link_to t('.back_my_page'), my_page_path, data: { turbo_frame: "content" }, class: 'link m-5 hover:link-primary' %>
    <% else %>
      <p class="m-5"><%= t('.not_login_user_information') %></p>
      <p><%= link_to t('defaults.login'), login_path, class: 'link m-5 hover:link-primary' %></p>
    <% end %>
  </div>
</div>