<%= form_with model: [@post, @comment], local: false do |f| %>
  <%= render 'shared/error_message', object: f.object %>
    <div class="flex justify-between items-center py-2 rounded-t-lg border-x border-t bg-slate-100">
      <p class="pl-2">
        <%= current_user.name %>
      </p>
      <div class="flex gap-2">
        <%= f.submit 'コメント', class: "border rounded-lg p-1 bg-gray-800 hover:bg-gray-600 active:bg-gray-500 text-sm text-white cursor-pointer font-semibold" %>
        <%= link_to '#', class: "text-xl mr-3 px-2 rounded-full hover:bg-slate-300" do%>
          <i class="fa-solid fa-xmark"></i>
        <% end %>
      </div>
    </div>
    <%= f.text_area :content, class: "base-form-area text-base w-full h-full" %>
<% end %>
