<p class="md:text-xl underline decoration-dotted decoration-2 underline-offset-8 mb-5">
  <i class="fa-regular fa-circle-check"></i>
  <%= t('.logged_functions') %>
</p>

<div class="flex flex-col items-center my-10">
  <div class="collapse collapse-plus border bg-white w-11/12">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div class="collapse-title md:text-lg font-semibold">
      <i class="fa-solid fa-circle-chevron-right"></i>
      <%= t('.post') %>
    </div>
    <div class="collapse-content">
      <p>投稿することが可能になります。</p>
      <%= video_tag '/assets/videos/投稿方法_pc.mp4', playsinline: true, controls: true, autoplay: false, loop: true, muted: true, class: 'video-pc' %>
      <%= video_tag '/assets/videos/投稿方法_mobile.mp4', playsinline: true, controls: true, autoplay: false, loop: true, muted: true, class: 'video-mobile' %>
    </div>
  </div>
  <div class="collapse collapse-plus border bg-white w-11/12">
    <input type="radio" name="my-accordion-3" />
    <div class="collapse-title md:text-lg font-semibold">
      <i class="fa-solid fa-circle-chevron-right"></i>
      <%= t('.like_and_comment') %>
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-plus border bg-white w-11/12">
    <input type="radio" name="my-accordion-3" />
    <div class="collapse-title md:text-lg font-semibold">
      <i class="fa-solid fa-circle-chevron-right"></i>
      <%= t('.my_desk') %>
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-plus border bg-white w-11/12">
    <input type="radio" name="my-accordion-3" />
    <div class="collapse-title md:text-lg font-semibold">
      <i class="fa-solid fa-circle-chevron-right"></i>
      <%= t('.ranking') %>
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
</div>