<div class="mx-5 text-sm font-semibold">
  <div id="header" class="flex flex-col items-center gap-4">
    <h1 id="welcome" class="text-4xl md:text-7xl text-center font-bold my-3 md:my-6 animate-tracking-in-expand"><%= t('.title_html') %></h1>
    <%= image_tag 'top_page/logo.png', class: "h-28 md:h-40" %>
  </div>

  <div class="flex flex-col gap-3 md:gap-5 mt-5 md:mt-8 md:text-xl leading-loose">
    <h2 class="text-center underline decoration-dotted decoration-2 underline-offset-8 md:leading-none"><%= t('.heading1') %></h2>
    <h2 class="text-center underline decoration-dotted decoration-2 underline-offset-8 md:leading-none"><%= t('.heading2') %></h2>
    <h2 class="text-center underline decoration-dotted decoration-2 underline-offset-8 md:leading-none"><%= t('.heading3') %></h2>
    <h2 class="text-center my-3 md:my-8 md:leading-none"><%= t('.heading4') %></h2>
    <h2 class="text-center underline decoration-dotted decoration-2 underline-offset-8 font-bold md:leading-none"><%= t('.heading5') %></h2>
  </div>

  <div class="flex flex-col items-center md:text-base mt-10">
    <p class="mb-2"><%= t('.prompt_message') %></p>
    <div class="flex justify-center items-center gap-5 mb-3 font-normal">
      <%= link_to t('.sign_up'), new_users_path, class: "border rounded-xl p-2 text-white bg-blue-700 hover:bg-blue-800 active:bg-blue-900" %>
      <p>or</p>
      <%= link_to t('defaults.login'), login_path, class: "border rounded-xl p-2 text-white bg-slate-700 hover:bg-slate-800 active:bg-slate-900" %>
    </div>
    <div class="flex items-center gap-3">
      <i class="fa-regular fa-lightbulb"></i>
      <p><%= t('.x_login_info') %></p>
    </div>
  </div>

  <div class="border border-slate-300 my-10 mx-5"></div>
  <%= render 'new_post_content' %>
  <div class="border border-slate-300 my-10 mx-5"></div>
  <%= render 'logged_functions_content' %>
</div>