<div class="">
  <h1>ユーザー登録</h1>
  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control input input-bordered w-full max-w-xs' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control input input-bordered w-full max-w-xs' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control input input-bordered w-full max-w-xs' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control input input-bordered w-full max-w-xs' %>
    </div>
    <%= f.submit '登録', class: 'btn' %>
  <% end %>

  <div class='text-center'>
    <%= link_to 'ログインページへ', login_path, class: 'link' %>
  </div>
</div>