<div class="flex justify-center">
  <div class="w-3/4">
    <h1 class="text-center mt-20 mb-10 text-2xl font-bold"><i class="fa-solid fa-gear px-3"></i>個人設定</h1>
    <div class="flex flex-col w-auto">
        <%= turbo_frame_tag 'user-name' do %>
        <div class="flex my-4 w-auto justify-between">
          <p class="my-1"><i class="fa-solid fa-user pr-3"></i>ユーザーネーム</p>
          <p class="btn btn-sm ml-4"><%= link_to '変更', edit_users_path, data: { turbo_frame: 'user-name' } %></p>
        </div>
        <p class="w-full text-center border rounded p-4 bg-white"><%= current_user.name %></p>
        <% end %>
        <div id="error_message"></div>
    </div>
    <div class="flex flex-col w-auto">
        <%= turbo_frame_tag 'user-email' do %>
        <div class="flex my-4 w-auto justify-between">
          <p class="my-1"><i class="fa-solid fa-envelope pr-3"></i>メールアドレス</p>
          <p class="btn btn-sm ml-4"><%= link_to '変更', edit_users_path, data: { turbo_frame: 'user-email' } %></p>
        </div>
        <p class="w-full text-center border rounded p-4 bg-white"><%= current_user.email %></p>
        <% end %>
    </div>
    <div class="flex flex-col w-auto">
      <div class="flex my-4 w-auto justify-between">
        <p class="my-1"><i class="fa-solid fa-key pr-3"></i>パスワード</p>
      </div>
      <p class="w-full text-center border rounded p-4 bg-white">●●●●●●●●●●</p>
      <p class="text-center mt-4">パスワードの変更は<%= link_to 'こちら', '#',  class: 'link link-primary' %>をクリックしてください。</p>
    </div>
  </div>
</div>
