<%= turbo_frame_tag "content" do %>
  <div id="error_message"></div>
  <div class="flex flex-col justify-center">
    <% if logged_in_for_x? %>
      <p class="p-1 bg-blue-100 text-blue-500 font-medium rounded-lg border w-52 text-center">X（Twitter）でログイン中</p>
    <% end %>
    <div class="flex flex-col w-auto">
      <%= turbo_frame_tag 'user-name' do %>
        <% render 'name_content', user: current_user %>
      <% end %>
    </div>
    <div class="flex flex-col w-auto">
      <%= turbo_frame_tag 'user-email' do %>
        <%  render 'email_content', user: current_user %>
      <% end %>
    </div>
    <% unless logged_in_for_x? %>
      <div class="flex flex-col w-auto">
        <div class="flex my-4 w-auto justify-between">
          <p class="my-1">
            <i class="fa-solid fa-key pr-3"></i>
            <%= User.human_attribute_name :password %>
          </p>
        </div>
        <p class="w-full text-center border rounded py-2 px-3 bg-white">●●●●●●●●●●</p>
        <p class="text-center mt-4">パスワードの変更は<%= link_to 'こちら', new_password_reset_path,  class: 'link link-primary', data: { turbo_frame: "_top" } %>をクリックしてください。</p>
      </div>
    <% else %>
      <div class="flex justify-center my-10">
        <p class="p-2 bg-red-100 text-red-500 font-medium rounded-lg border">X（Twitter）でログインしている場合は、ユーザネーム・メールアドレスの変更はできません。</p>
      </div>
    <% end %>
  </div>
<% end %>