<div id="error_message"></div>
<div class="flex justify-center">
  <div class="w-3/4">
    <h1 class="text-center mt-20 mb-10 text-2xl font-bold"><i class="fa-solid fa-gear px-3"></i>個人設定</h1>
    <div class="flex flex-col w-auto">
        <%= turbo_frame_tag 'user-name' do %>
        <div class="flex my-3 w-auto justify-between">
          <p class="my-1"><i class="fa-solid fa-user pr-3"></i>ユーザーネーム</p>
          <%= link_to '変更', edit_users_path, class: "base-btn", data: { turbo_frame: 'user-name' } %>
        </div>
        <p class="w-full text-center border rounded py-2 px-3 bg-white"><%= current_user.name %></p>
        <% end %>
    </div>
    <div class="flex flex-col w-auto">
        <%= turbo_frame_tag 'user-email' do %>
        <div class="flex my-4 w-auto justify-between">
          <p class="my-1"><i class="fa-solid fa-envelope pr-3"></i>メールアドレス</p>
          <%= link_to '変更', edit_users_path, class: "base-btn", data: { turbo_frame: 'user-email' } %>
        </div>
        <p class="w-full text-center border rounded py-2 px-3 bg-white"><%= current_user.email %></p>
        <% end %>
    </div>
    <div class="flex flex-col w-auto">
      <div class="flex my-4 w-auto justify-between">
        <p class="my-1"><i class="fa-solid fa-key pr-3"></i>パスワード</p>
      </div>
      <p class="w-full text-center border rounded py-2 px-3 bg-white">●●●●●●●●●●</p>
      <p class="text-center mt-4">パスワードの変更は<%= link_to 'こちら', new_password_reset_path,  class: 'link link-primary' %>をクリックしてください。</p>
    </div>
  </div>
</div>
