<div class="drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle">
  <div class="drawer-content">
    <label for="my-drawer-4" class="drawer-button btn bg-slate-100"><i  class="fa-solid fa-bars fa-2xl"></i></label>
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-52 md:w-80 min-h-full bg-base-200 text-base-content">
      <% if logged_in? %>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-pen-to-square"></i>
            <%= link_to t('menu.new_post'), new_post_path %>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-desktop"></i>
            <%= link_to t('menu.index'), posts_path %>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-crown"></i>
            <%= link_to t('menu.ranking'), rank_path %>
          </div>
        </li>
        <li>
          <details close>
            <summary><i class="fa-solid fa-user"></i><%= t('menu.my_page') %></summary>
            <ul>
              <li><%= link_to t('menu.my_posts'), posts_users_path %></li>
              <li><%= link_to t('menu.liked_posts'), likes_users_path %></li>
              <li><%= link_to t('menu.settings'), users_path %></li>
            </ul>
          </details>
        </li>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-right-from-bracket"></i>
            <%= link_to t('menu.logout'), logout_path, data: { turbo_method: :delete } %>
          </div>
        </li>
      <% else %>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-right-to-bracket"></i>
            <%= link_to t('menu.login'), login_path %>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <i class="fa-solid fa-user-plus"></i>
            <%= link_to t('menu.sign_up'), new_users_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>