<div class="drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle">
  <div class="drawer-content">
    <label for="my-drawer-4" class="drawer-button btn bg-slate-100 border-none shadow-none"><i  class="fa-solid fa-bars fa-2xl"></i></label>
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-52 md:w-80 min-h-full bg-base-200 text-base-content">
      <% if logged_in? %>
        <li>
          <%= link_to my_page_path do%>
            <i class="fa-solid fa-user"></i>
            <%= t('menu.my_page') %>
          <% end %>
        <li>
        <li>
          <%= link_to new_post_path do %>
            <i class="fa-solid fa-pen-to-square"></i>
            <%= t('menu.new_post') %>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <i class="fa-solid fa-desktop"></i>
            <%= t('menu.index') %>
          <% end %>
        </li>
        <li>
          <%= link_to ranking_posts_path do %>
            <i class="fa-solid fa-crown"></i>
            <%= t('menu.ranking') %>
          <% end %>
        </li>
        <li class="mt-5">
          <%= link_to logout_path, data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            <%= t('menu.logout') %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to login_path do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          <%= t('menu.login') %>
        <% end %>
        </li>
        <li>
          <%= link_to new_users_path do %>
            <i class="fa-solid fa-user-plus"></i>
            <%= t('menu.sign_up') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>