<div class="mx-auto max-w-4xl">
  <div class="flex justify-end mr-3">
    <%= render 'posts/forms/explanation' %>
  </div>
  <%= form_with model: @post, local: true do |form| %>
    <%= render 'shared/error_message', object: form.object %>

    <div class="bg-white p-5 rounded-xl border mb-10">
      <div class="flex flex-col items-center gap-10">
        <div id="step1">
          <div class="flex items-center justify-start gap-2 font-semibold">
            <i class="fa-solid fa-caret-down text-2xl ml-1"></i>
            <div class="flex flex-col md:flex-row md:items-center">
              <p class="text-sm md:text-base"><%= t('.step1') %></p>
              <p class="badge text-white bg-red-500"><%= t('.require') %></p>
            </div>
          </div>
          <%= image_tag main_image_existence(@post), class: "object-contain border rounded-lg" %>
          <div class="flex flex-col items-center m-5 gap-2">
            <div class="flex items-center gap-2">
              <i class="fa-regular fa-lightbulb"></i>
              <p class="text-sm md:text-base"><%= t('.image_upload') %></p>
            </div>
            <%= form.file_field :image, class: 'file-input file-input-bordered file-input-sm md:file-input-md w-full max-w-xs' %>
            <p class="text-red-400"><%= t('.extension_text') %></p>
          </div>
        </div>

        <div id="step2" class="w-full">
          <div class="flex items-center justify-start gap-2 font-semibold">
            <i class="fa-solid fa-caret-down text-2xl ml-1"></i>
            <div class="flex flex-col md:flex-row md:items-center">
              <p class="text-sm md:text-base"><%= t('.step2') %></p>
              <p class="badge text-white bg-red-500"><%= t('.require') %></p>
            </div>
          </div>
          <%= form.text_area :content, class: "base-form-area w-full h-36 md:h-48", placeholder: t('.placeholder') %>
        </div>

        <div id="step3" class="w-full">
          <div class="flex items-center justify-start gap-2 font-semibold">
            <i class="fa-solid fa-caret-down text-2xl ml-1"></i>
            <div class="flex flex-col md:flex-row md:items-center">
              <p class="text-sm md:text-base"><%= t('.step3') %></p>
              <p class="badge text-white bg-red-500"><%= t('.require') %></p>
            </div>
          </div>
          <p class="text-xl text-center my-3"><i class="fa-solid fa-desktop pr-2"></i><%= t('.item_index') %></p>
          <div class="flex flex-col items-center">
            <%= render 'posts/forms/template', form: form %>
            <div id="gadget-display-container" class="grid grid-cols-2 md:grid-cols-3 gap-1 grid-flow-row">
              <!-- 登録済みのガジェット -->
              <% if @post.gadgets.ids.present? %>
                <% @post.gadgets.each_with_index do |gadget, index| %>
                  <div id="gadget-display-<%= index + 10000 %>" class="flex flex-col bg-white shadow rounded-lg text-base p-4 relative">
                    <div class="flex justify-end">
                      <button type="button" id="delete_btn_<%= index + 10000 %>" data-controller="form-btn" data-action="click->form-btn#delete" data-form-btn-target="deleteBtn">
                        <i class="fa-solid fa-circle-xmark hover:text-blue-500 active:text-blue-700 transition hover:rotate-180"></i>
                      </button>
                    </div>
                    <% if gadget.brand.present? %>
                      <p id="display_brand" class="badge bg-slate-200 min-h-6"><%= gadget.brand %></p>
                    <% else %>
                      <div class="min-h-6"></div>
                    <% end %>
                    <div class="flex justify-center py-2 h-2/3">
                      <%= image_tag gadget.image_url, class: "h-24 w-32 shadow object-contain" %>
                    </div>
                    <div class="flex-grow flex flex-col">
                      <p id="display_name" class="text-center p-2"><%= truncate_name(gadget.name) %></p>
                      <p id="display_price" class="text-right font-bold">¥<%= number_with_delimiter(gadget.price) %></p>
                      <p id="display_genre" class="text-right border-t"><%= gadget.genre.name %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <!-- 新規追加のガジェット -->
            </div>

            <div id="gadget-hidden-container">
              <!-- 登録済みのガジェット -->
              <% if @post.gadgets.ids.present? %>
                <% @post.gadgets.each_with_index do |gadget, index| %>
                  <%= form.fields_for :gadgets, gadget, child_index: index + 10000 do |gadget_form| %>
                    <div id="gadget-hidden-<%= index + 10000 %>" class="hidden">
                      <%= gadget_form.text_field :genre_id %>
                      <%= gadget_form.url_field :image_url %>
                      <%= gadget_form.text_field :name %>
                      <%= gadget_form.text_field :brand %>
                      <%= gadget_form.number_field :price %>
                      <%= gadget_form.url_field :product_url %>
                      <%= gadget_form.text_field :product_id %>
                      <%= gadget_form.number_field :_destroy, id: "delete-flag-#{index + 10000}" %>

                      <%= gadget_form.fields_for :maker do |maker_form| %>
                        <%= maker_form.text_field :name %>
                      <% end%>

                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <!-- 新規追加のガジェット -->
            </div>
          </div>
        </div>
        <%= form.submit class: 'base-btn w-24 h-12 mt-20 mb-5' %>
      </div>
    </div>

  <% end %>
  <%= render 'posts/forms/modal_gadget' %>
</div>