  <template id="gadget-form-template">
    <%= form.fields_for :gadgets, Gadget.new, child_index: "NEW_RECORD" do |gadget_form| %>
      <div id="gadget-fields_NEW_RECORD" class="hidden">
        <%= gadget_form.text_field :genre, { id: 'main_form_genre_NEW_RECORD', readonly: true } %>
        <%= gadget_form.url_field :image_url, id: 'main_form_imageUrl_NEW_RECORD' %>
        <%= gadget_form.text_field :name, id: 'main_form_name_NEW_RECORD' %>
        <%= gadget_form.text_field :brand, id: 'main_form_maker_NEW_RECORD' %>
        <%= gadget_form.number_field :price, id: 'main_form_price_NEW_RECORD' %>
      </div>
    <% end %>
  </template>

  <template id="gadget-display-template">
    <div id="subitem" class="hidden border border-gray-200 rounded-lg p-6 shadow bg-white">
      <p id="main_form_genre_display" class="badge badge-ghost text-lg"></p>
      <img id="main_form_imageUrl_display">
      <div class="flex">
        <p>メーカー：</p>
        <p id="main_form_maker_display"></p>
      </div>
      <p id="main_form_name_display"></p>
      <p id="main_form_price_display"></p>
      <button type="button" id="main_form_delete_btn" class="btn" data-controller="form-btn" data-action="click->form-btn#delete" data-form-btn-target="deleteBtn">削除</button>
    </div>
  </template>