<div class="flex justify-end">
  <i class="fa-regular fa-circle-question cursor-pointer text-xl text-gray-400 hover:text-blue-500" onclick="my_modal_2.showModal()"></i>
  <dialog id="my_modal_2" class="modal">
    <div class="modal-box">
      <div class="border-b my-2">
        <h3 class="font-bold text-lg"><i class="fa-solid fa-pen-to-square mr-2"></i>新規投稿</h3>
        <p class="py-4">ここから自分のデスクを新しく投稿することができるよ！<br>早速投稿してみよう！</p>
      </div>
      <div class="border-b my-2">
        <h3 class="font-bold text-lg"><i class="fa-solid fa-file-image mr-2"></i>自分の投稿一覧</h3>
        <p class="py-4">過去に自分が投稿した一覧が見れるよ！</p>
      </div>
      <div class="border-b my-2">
        <h3 class="font-bold text-lg"><i class="fa-regular fa-heart mr-2"></i>いいね一覧</h3>
        <p class="py-4">他の人の投稿にいいねした一覧が見れるよ！</p>
      </div>
      <div>
        <h3 class="font-bold text-lg"><i class="fa-solid fa-gear mr-2"></i>個人設定</h3>
        <p class="py-4">ここでは、ユーザーネームやメールアドレスの変更などを行うことができるよ！</p>
      </div>
    </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
  </dialog>
</div>

<%= link_to new_post_path, class: "flex items-center w-full p-2 border shadow-md rounded hover:bg-slate-100 transform hover:-translate-y-1 duration-200" do %>
  <i class="fa-solid fa-circle-chevron-right pr-2"></i>新規投稿
<% end %>
<%= link_to posts_users_path, class: "flex items-center w-full p-2 border shadow-md hover:bg-slate-100 transform hover:-translate-y-1 duration-200" do %>
  <i class="fa-solid fa-circle-chevron-right pr-2"></i>自分の投稿一覧
<% end %>
<%= link_to likes_users_path, class: "flex items-center w-full p-2 border shadow-md hover:bg-slate-100 transform hover:-translate-y-1 duration-200" do %>
  <i class="fa-solid fa-circle-chevron-right pr-2"></i>いいね一覧
<% end %>
<%= link_to users_path, class: "flex items-center w-full p-2 border shadow-md hover:bg-slate-100 transform hover:-translate-y-1 duration-200" do %>
  <i class="fa-solid fa-circle-chevron-right pr-2"></i>個人設定
<% end %>
<%= link_to logout_path, data: { turbo_method: :delete }, class: "flex items-center w-full p-2 border shadow-md hover:bg-slate-100 transform hover:-translate-y-1 duration-200 mt-10 md:mt-20" do %>
  <i class="fa-solid fa-right-from-bracket pr-2"></i>ログアウト
<% end %>