<% set_meta_tags title: t('.title', user_name: current_user.name) %>
<div class="mx-auto max-w-screen-lg flex flex-col my-5 justify-center items-center bg-white rounded-xl border shadow py-5 md:py-10">
  <h1 class="font-bold text-xl md:text-2xl"><%= t('.title', user_name: @user.name) %></h1>
  <div class="flex gap-5 my-10 border-b-2" data-controller="link-activator">
    <%= link_to '自分の投稿', my_page_posts_path, data: { turbo_frame: "content", link_activator_target: "link", action: "click->link-activator#activate" }, class: "hover:text-blue-500 active:text-blue-500" %>
    <%= link_to 'いいね', my_page_liked_path, data: {turbo_frame: "content", link_activator_target: "link", action: "click->link-activator#activate" }, class: "hover:text-blue-500 active:text-blue-500" %>
    <%= link_to '個人設定', users_path, data: { turbo_frame: "content", link_activator_target: "link", action: "click->link-activator#activate" }, class: "hover:text-blue-500 active:text-blue-500" %>
  </div>

  <%= turbo_frame_tag "content" do %>
    <% render 'turbo_frame_content', posts: @posts, url: posts_path, pagy: @pagy %>
  <% end %>
</div>
