<div class="flex justify-center">
  <div class="m-3 max-w-screen-lg">
    <div class="flex justify-center items-center text-xl md:text-2xl mt-10">
      <div class="border rounded-full bg-white py-3 px-4 relative right-28 md:right-32 z-10">
        <i class="fa-regular fa-keyboard"></i>
      </div>
      <h1 class="absolute font-semibold shadow-lg border border-slate-300 py-2 px-8 rounded-full bg-slate-100 "><%= t('.title') %></h1>
    </div>
    <div class="text-center mt-5 leading-loose" data-controller="gadget">
      <%= link_to t('.all'), ranking_gadgets_path, data: { turbo_frame: "genre_result", gadget_target: "btn", action: "click->gadget#activate" }, class: "badge p-3 md:p-5 shadow-lg bg-white hover:bg-slate-200 active:bg-slate-300" %>
      <% Genre.all.each do |genre| %>
        <%= link_to genre.name , ranking_gadgets_path(genre_id: genre.id), data: { turbo_frame: "genre_result", gadget_target: "btn", action: "click->gadget#activate" }, class: "badge p-3 md:p-5 shadow-lg bg-white hover:bg-slate-200 active:bg-slate-300" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "genre_result" do %>
      <div id="gadget-content" class="grid grid-cols-2 gap-4 my-10 md:m-10 md:grid-cols-3">
        <% @gadgets.each_with_index do |gadget, index| %>
          <div id="gadget-card" class="flex flex-col bg-white shadow rounded-lg text-base p-4">
            <div class="md:flex md:justify-between">
              <p class="font-bold w-full"><%= "#{index+1}位" %></p>
              <div class="dropdown md:dropdown-right mb-2 w-full text-right">
                <div tabindex="0" role="button" class="group hover:text-blue-500 active:text-blue-700 text-right text-sm inline-block"><i class="fa-solid fa-plus transition group-hover:rotate-180"></i>マイデスクに追加</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu shadow bg-base-100 rounded-box w-40">
                  <% current_user.my_desks.each do |my_desk| %>
                    <li>
                      <%= link_to my_desk.name, add_gadget_my_desk_path(my_desk, gadget_id: gadget.id), data: { turbo_method: :post } %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% if gadget.brand.present? %>
              <p class="badge bg-slate-200 min-h-6"><%= gadget.brand %></p>
            <% else %>
              <div class="min-h-6"></div>
            <% end %>
            <div class="flex justify-center py-2">
              <%= image_tag gadget.image_url, class: "shadow h-24 w-32 object-contain" %>
            </div>
            <div class="flex-grow flex flex-col">
              <%= link_to truncate_name(gadget.name), gadget_path(gadget), data: { turbo_frame: "modal_frame" }, class: "modal-trigger text-center p-2 md:h-16 hover:text-blue-500" %>
              <div class="flex justify-end">
                <p class="badge bg-slate-200 text-sm"><%= gadget.genre.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
