<div class="flex justify-center">
  <div class="m-3 max-w-screen-lg">
    <div class="flex justify-center items-center text-xl md:text-2xl mt-10">
      <div class="border rounded-full bg-white py-3 px-4 relative right-28 md:right-32 z-10">
        <i class="fa-regular fa-keyboard"></i>
      </div>
      <h1 class="absolute font-semibold shadow-lg border border-slate-300 py-2 px-8 rounded-full bg-slate-100 "><%= t('.title') %></h1>
    </div>
    <div class="text-center mt-5 leading-loose" data-controller="gadget">
      <%= link_to t('.all'), ranking_gadgets_path, data: { turbo_frame: "genre_result", gadget_target: "btn", action: "click->gadget#activate" }, class: "badge p-3 md:p-5 shadow-lg bg-white hover:bg-slate-200 active:bg-slate-300" %>
      <% Genre.all.each do |genre| %>
        <%= link_to genre.name , ranking_gadgets_path(genre_id: genre.id), data: { turbo_frame: "genre_result", gadget_target: "btn", action: "click->gadget#activate" }, class: "badge p-3 md:p-5 shadow-lg bg-white hover:bg-slate-200 active:bg-slate-300" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "genre_result" do %>
      <div id="gadget-content" class="grid grid-cols-2 gap-4 my-10 md:m-10 md:grid-cols-3">
        <% @gadgets.each_with_index do |gadget, index| %>
          <%= render 'gadget', gadget: gadget, index: index %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
