<div data-controller="modal">
  <a href="#" data-action="click->modal#toggleModal" class="btn m-6" >アイテムを追加する</a>

  <div class="hidden fixed m-auto w-screen h-screen top-0 left-0 bg-gray-700/50 z-10" data-modal-target="modal">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white p-10 rounded shadow w-11/12 h-5/6 overflow-auto">
        <h1>製品名を入力して検索</h1>
        <div class="search-box flex">
          <%= form_with url: search_path, method: :get, local: false, html: { data: { turbo_frame: "search_results" } } do |f| %>
          <div class="form-group flex mb-4">
              <%= f.text_field :keyword, value: params[:keyword], class: "form-control input input-bordered w-full max-w-xs" %>
              <%= f.submit '製品名を検索', class: "form-control btn ml-3" %>
          </div>
          <% end %>
          <span class="btn ml-2 mr-2" data-action="click->modal#toggleModal">キャンセル</span>
          <span class="btn" data-action="click->modal#updateMainForm">選択</span>
        </div>

        <%= turbo_frame_tag "search_results" do %>
          <% if @products.present? %>
            <%= render 'posts/product', products: @products %>
          <% else %>
            <div>検索結果がありません</div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>