<div id="card" class="border rounded-lg shadow-lg h-auto group transform hover:-translate-y-2 duration-200 bg-slate-50" >
  <div id="header" class="flex justify-between p-2 bg-slate-100 font-bold rounded-t-lg">
    <%= post.user.name %>
    <p><%= l post.created_at %></p>
  </div>
  <div id="contents" class="flex flex-col h-5/6">
    <div id="main-image" class="relative overflow-hidden">
      <%= link_to image_tag(main_image_existence(post), class: 'h-auto w-full object-contain cursor-pointer transition-transform group-hover:scale-110 duration-200'), post_path(post.id) %>
    </div>
    <div id="item-image" class="h-auto p-3">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% post.gadgets.each do |gadget| %>
            <%= image_tag gadget.image_url, class: "swiper-slide shadow h-16 md:h-20 w-9 object-contain" %>
          <% end %>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
    <div id="brand" class="p-1">
      <% brand_remove_duplicate(post.id) %>
      <% unless @brand.empty? %>
        <% @brand.each do |brand| %>
          <%= link_to brand, posts_path(q: { gadgets_brand_cont: brand }), class: "badge bg-slate-200 hover:bg-slate-300" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="footer" class="p-2 text-right">
    <%= render 'posts/likes/like', post: post %>
  </div>
</div>