<!-- grid-cols-3 で3列のグリッドを作成 -->
<div class="grid grid-cols-4 gap-4 grid-flow-row">
  <% @products.first(10).each do |product| %>
    <!-- gridコンテナ内の各アイテムをdivで囲む -->
    <button type="button" id= 'item-<%= product['productId'] %>' data-action="click->modal#itemSelect" data-modal-target="itemId">
      <div class="p-4 border rounded shadow-md hover:border-blue-900 cursor-pointer" > <!-- 各製品のカードスタイル -->
        <ul class="list-none">
          <li><%= image_tag(product['mediumImageUrl'], { data: { modal_target: 'imageUrl'} } ) %></li>
          <li class="text-lg font-bold mt-3 mb-3"><%= link_to product['productName'], product['productUrlPC'], { data: { modal_target: 'name'}, id: 'name' } %></li>
          <li class="text-lg font-bold" data-modal-target="price"><%= number_with_delimiter(product['averagePrice']) %></li>
          <li class="hidden" data-modal-target="maker"><%= product['makerName'] %></li>
        </ul>
      </div>
    </button>
  <% end %>
</div>