<div class="grid grid-cols-2 md:grid-cols-5 gap-4 my-3">
  <% @products.each do |product| %>
    <button type="button" id= 'item-<%= product['productId'] %>' class="transform hover:-translate-y-2 duration-200" data-action="click->modal#itemSelect" data-modal-target="itemId">
      <div class="h-full">
        <div class="flex flex-col p-4 border rounded shadow-md cursor-pointer" >
          <div class="flex justify-center">
            <%= image_tag(product['mediumImageUrl'], data: { modal_target: 'imageUrl'}, class: "h-24 object-contain") %>
          </div>
          <p class="my-2 h-16 md:h-24 overflow-clip" data-modal-target="name"><%= truncate_name(product['productName']) %></p>
          <div class="flex justify-center text-lg font-bold">
            <p>¥</p>
            <p class="" data-modal-target="price"><%= number_with_delimiter(product['averagePrice']) %></p>
          </div>
          <p class="hidden" data-modal-target="brand"><%= product['brandName'] %></p>
          <p class="hidden" data-modal-target="makerName"><%= product['makerName'] %></p>
          <p class="hidden" data-modal-target="makerCode"><%= product['makerCode'] %> </p>
          <p class="hidden" data-modal-target="productUrl"><%= product['productUrlPC'] %></p>
          <p class="hidden" data-modal-target="productId"><%= product['productId'] %> </p>
        </div>
      </div>
    </button>
  <% end %>
</div>