<% content_for(:title, t('.title', user_name: @post.user.name)) %>
<% breadcrumb :show_post, @post %>
<div class="mx-auto max-w-4xl">
  <div class="p-4">
    <p class="text-2xl md:text-3xl text-center font-bold pt-3"><%= t('.title', user_name:@post.user.name) %></p>
    <div class="flex justify-end my-2 gap-2">
      <p><%= t('.posted_date') %></p>
      <p class=""><%= l @post.created_at %></p>
    </div>
    <div class="flex justify-between items-center gap-4">
      <%= render 'posts/likes/like', post: @post %>
      <div class="flex gap-2">
        <% if my_post?(@post) %>
          <%= link_to t('defaults.edit'), edit_post_path(@post.id), class: "base-btn" %>
          <%= link_to t('defaults.delete'), post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: t('.delete_confirmation') }, class: "cancel-btn" %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col gap-4 my-5">
      <%= image_tag main_image_existence(@post), class: 'border' %>
      <p class="text-lg md:text-2xl font-bold mt-5"><i class="fa-regular fa-lightbulb pr-2"></i><%= Post.human_attribute_name :content %></p>
      <div class="overflow-auto border bg-white p-4 h-40 md:h-56 rounded-lg"><%= safe_join(@post.content.split("\n"),tag(:br)) %></div>
    </div>

    <div class="flex items-center mb-5 gap-3">
      <p class="text-lg md:text-2xl font-bold"><i class="fa-solid fa-desktop pr-2"></i><%= t('.item_detail') %></p>
      <i class="fa-regular fa-circle-question cursor-pointer text-xl text-gray-400 hover:text-blue-500" onclick="my_modal_2.showModal()"></i>
      <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
          <div class="flex items-center gap-2">
            <i class="fa-regular fa-lightbulb text-xl text-yellow-300 mb-3"></i>
            <p>アイテム名をクリックすると、そのアイテムの販売ページに飛ぶことができるよ！</p>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>

    <div id="gadget-content" class="grid grid-cols-1 gap-4 mb-10 md:grid-cols-3">
      <% @post.gadgets.each do |gadget| %>
        <div id="gadget-card" class="flex flex-col bg-white shadow rounded-lg text-base p-4">
          <% if gadget.brand.present? %>
            <p class="badge bg-slate-200 min-h-6"><%= gadget.brand %></p>
          <% else %>
            <div class="min-h-6"></div>
          <% end %>
          <div class="flex justify-center py-2">
            <%= image_tag gadget.image_url, class: "shadow h-24 w-32 object-contain" %>
          </div>
          <div class="flex-grow flex flex-col">
            <%= link_to truncate_name(gadget.name), gadget.product_url, target: :_blank, rel: "noopener noreferrer", class: "text-center p-2 h-16 hover:text-blue-500" %>
            <p class="text-right font-bold text-lg md:p-2">¥<%= number_with_delimiter(gadget.price) %></p>
            <div class="flex justify-between my-2 text-sm">
              <p><%= Gadget.human_attribute_name :maker_name %></p>
              <p ><%= gadget.maker_name %></p>
            </div>
            <p class="text-right text-sm border-t"><%= gadget.genre_i18n %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>