<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="flex flex-col min-h-screen bg-slate-50 text-slate-600 bg-main bg-contain">
    <%= render "shared/header" %>
    <%= render 'shared/flash_message' %>
    <div class="container mx-auto flex-grow justify-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
