<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-300 min-h-screen">
    <%= render "shared/header" %>
    <div class="grid place-items-center">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
